:root {
  --blue: #2c2891;
  --lightGreen: #39a388;
  --green: #1c7947;
  --yellow: #fffd95;
  --white: #ffffff;
  --input-border: #ccc;
}
::selection {
  background-color: black;
  color: cyan;
}

body {
  background-color: var(--white);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--lightGreen);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: var(--white);
  margin: 0;
}

aside.searchContainer {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
}

aside ul {
  list-style: none;
}
button {
  width: 100%;
  padding: 10px;
  background-color: var(--lightGreen);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

main {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
  box-sizing: border-box;
}

.search-form {
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  margin-bottom: 10px;
}

.previousSearches {
  margin: 0;
  padding: 0;
  list-style: none;
}

.previousSearches li {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid var(--input-border);
  list-style: none;
}

.current-weather {
  background-color: var(--green);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.current-weather h2,
.current-weather ul {
  margin: 0;
  padding: 0;
}

.current-weather ul {
  list-style: none;
}

.current-weather ul li {
  margin-bottom: 10px;
}

.forecast {
  background-color: var(--lightGreen);
  padding: 20px;
  border-radius: 5px;
}

.forecast h3 {
  margin: 0 0 20px 0;
}

.forecastCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forecastCard {
  background-color: var(--yellow);
  padding: 10px;
  width: calc(20% - 20px);
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.forecastCard ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.forecastCard ul li {
 
  font-family: monospace;
  margin-bottom: 10px;
}
.showNone {
  display: none;
}

.rsList li {
  font-size: large;
  background-color: var(--yellow);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px 0 var(--lightGreen);
}

.rsList li:hover {
  scale: 95%;
  background-color: var(--lightGreen);
  cursor: pointer;
}

.rsList li::after {
  content: "\2192";
  display: inline-block;
  margin-left: 5px;
  color: var(--green);
  font-weight: bold;
}

#date {
  font-size: larger;
  text-decoration: underline;
}

#cwHead {
  font-size: larger;
  text-decoration: underline;
  margin-bottom: 10px;
}
/* Phones */
@media only screen and (max-width: 374px) {
  header {
    height: 40px;
  }
  header h1 {
    font-size: 20px;
  }
  .forecastCards {
    justify-content: center;
    font-size: smaller;
  }
  .forecastCards ul {
    justify-content: center;
  }
}

/* Tablets */
@media only screen and (min-width: 375px) and (max-width: 1023px) {
  header {
    height: 50px;
  }
  header h1 {
    font-size: 24px;
  }
  aside.searchContainer {
    margin-top: 45px;
    position: static;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  main {
    margin-left: 0;
  }
  .forecastCards {
    justify-content: center;
  }
  .forecastCard {
    width: calc(40% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* Desktops */
@media only screen and (min-width: 1024px) {
  aside.searchContainer {
    position: fixed;
    height: 100%;
    width: 200px;
  }
  main {
    margin-left: 200px;
  }
  .forecastCards {
    justify-content: space-between;
  }
  .forecastCard {
    width: calc(20% - 20px);
    margin-right: 0;
    margin-left: 0;

  }
}
